.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 50px;
  background: white;
}

.input {
  display: block;
  width: 100%;
  border: 1px solid #e5e5e6;
  font-size: 18px;
  padding: 10px 14px;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.ul > li {
  border-bottom: 1px solid #e5e5e6;
  padding: 20px 0;
}